/* Подключаем шрифт SFProDisplay с различными стилями */
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 400;
  src: url('fonts/SFProDisplay-Regular.woff2') format('woff2'),
       url('fonts/SFProDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 700;
  src: url('fonts/SFProDisplay-Bold.woff2') format('woff2'),
       url('fonts/SFProDisplay-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 900;
  src: url('fonts/SFProDisplay-Heavy.woff2') format('woff2'),
       url('fonts/SFProDisplay-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 300;
  src: url('fonts/SFProDisplay-Light.woff2') format('woff2'),
       url('fonts/SFProDisplay-Light.woff') format('woff');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 500;
  src: url('fonts/SFProDisplay-Medium.woff2') format('woff2'),
       url('fonts/SFProDisplay-Medium.woff') format('woff');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 600;
  src: url('fonts/SFProDisplay-Semibold.woff2') format('woff2'),
       url('fonts/SFProDisplay-Semibold.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 400; /* Установите вес шрифта по умолчанию */
  border-radius: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img, svg {
  user-select: none;
}

img {
  -webkit-user-drag: none;
}
