/* Сброс стилей для всех элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Убираем обводку при фокусе */
html, body, #root {
  height: 100%;
  background: #1C1C1C;
  overflow: hidden; /* Убираем прокрутку у body */
  outline: none; /* Убираем обводку при фокусе */
}
