.scrollable-content {
    height: calc(100vh - 220px); /* Установите высоту по вашему усмотрению */
    overflow-y: auto; /* Стандартный скролл */
  }
  
  /* Кастомизация скролла */
  .scrollable-content::-webkit-scrollbar {
    width: 5px; /* Ширина скролла */
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background: #1C1D26; /* Цвет трека скролла */
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background: #999999; /* Цвет "пальца" скролла */
    border-radius: 10px; /* Радиус скругления "пальца" */
  }
  
  .scrollable-content::-webkit-scrollbar-thumb:hover {
    background: #999999; /* Цвет "пальца" при наведении */
  }
  
  .scrollable-content::-webkit-scrollbar-thumb:active {
    background: #999999; /* Цвет "пальца" при нажатии */
  }
  